 @font-face {
  font-family: 'Futura PT';
  src: url("https://fonts.cdnfonts.com/css/futura-pt");
}
body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  
    .content {
    font-size: 10px;
    font-family: 'Futura PT', sans-serif;
    }
    //  h1 {
    //   color: black;
    //  }
}
